/* body */
body{
    text-align: center;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
/* body */

/* #wrapper */
#wrapper{
    width: 90%;
    height: 80vh;
    margin: auto;
    padding: 4%;
}
/* #wrapper */

/* .google-element */
.google-element{
    margin: 1.5%;
}
/* .google-element */

.img-div{
    margin-bottom: -38px;
    /* padding: 0; */
    /* background-color: antiquewhite; */
}

/* form  */
#gooogle-search{
    position: relative;
    margin-bottom: 0.5%;
    min-height: 4rem;
}

label{
    padding: 1.2%;
    display: flex;
    justify-content: space-between;
    border-radius: 50px;
    width: 45%;
    margin: auto;
    border: 1px solid #ddd;
}

.fa-search{
    opacity: 0.3;
    font-size: 14px;
}

.fa-microphone{
    opacity: 0.4;
    font-size: 16px;
}

input{
    outline: none;
    border: none;
}

::placeholder{
    font-size: 18px;
}

button{
    font-size: 14px;
    opacity: 0.8;
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 4px;
    border: none;
    margin: 4px;
}
/* form  */

/* #languages */
span{
    font-size: 13.5px;
}

a{
    text-decoration: none;
    font-size: 13.5px;
    margin: 2px;
    font-weight: bolder;
    color: blueviolet;
}
/* #languages */